@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-family: 'Noto sans KR';
}

body {
    background-color: #ddd;
}

.bankbook {
    width: 500px;
    margin: 100px auto;
    background-color: rgb(255, 85, 127);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;

    .update-btn {
        font-weight: 100;
        color: #fff;
        font-size: 48px;
        position: absolute;
        top: 0;
        right: 24px;
    }

    .bank-total {
        text-align: center;
        color: #fff;
        padding: 50px;

        .total {
            font-size: 48px;
            font-weight: 700;
        }
    }

    .bank-list {
        padding: 50px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);

        ul {
            li {
                list-style: none;
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;

                .left {
                    display: flex;
                    gap: 20px;

                    .date {
                        color: #ccc;
                    }

                    .input-text {}
                }

                .input-money {
                    color: rgb(85, 96, 255);
                    font-weight: 700;
                }
            }
        }
    }
}

.popup {
    // display: none;
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    // transform: translate(45%, 10%);

    .close-btn {
        font-weight: 100;
        color: #000;
        font-size: 48px;
        position: absolute;
        top: 0;
        right: 24px;
    }

    .pop-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 10px;
    }

    h2 {
        margin-bottom: 20px;
    }

    #pop-number {
        border: 1px solid #ddd;
        width: 100%;
        height: 40px;
        padding: 10px;
    }

    #pop-message {
        border: 1px solid #ddd;
        width: 100%;
        height: 120px;
        padding: 10px;
    }

    .btn {
        width: 100%;
        display: flex;
        gap: 10px;

        button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            text-wrap: nowrap;
            color: rgb(255, 85, 127);
            border: 1px solid rgb(255, 85, 127);
            transition: 0.3s ease-in-out;
        }

        button:hover {
            color: #fff;
            background-color: rgb(255, 85, 127);
            ;
        }
    }
}