.mainTab {
    position: absolute;
    top: 60vh;
    left: 0;
    z-index: 1;
    padding: 3rem;
    width: 100%;

    div {
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: 1rem;
    }

    .swiper {
        width: 100%;
    }

    .swiperSlide {
        text-align: center;
        font-size: 18px;
        background-size: cover;

        img {
            width: 100%;
        }
    }
}